/********** LOADING **********/
.loading-indicator {
    display: block;
    width: 70px;
    position: fixed;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 40%;
    z-index: 100;
    background-color: #FFF;
}
.loading-indicator img {
    width: 70px;
    background-color: #FFF;

}
.loading-icon {
  display: block;
  position: fixed;
  top: 40%;
  left: 0; right: 0;
  margin: 0 auto;
  z-index: 100;
}
/********** END OF LOADING **********/

/********** UI- **********/
.ui-view-placeholder {
    margin-top: 60px;
}
a[ui-sref]:hover {
  display: inline-block;
  cursor: pointer;
  text-shadow: 0 0 10px #f94;
}
/********** END OF ui-view **********/
