/********** LOADING **********/
.loading-icon {
  display: block;
  position: fixed;
  width: 200px;
  height: 200px;
  top: 40%;
  left: 0; right: 0;
  margin: 0 auto;
  z-index: 100;
}
/*.loading-icon::after {
  content: "";
  background: url(img/loading-gears.svg);
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}*/
/********** END OF LOADING **********/

/********** UI- **********/
.ui-view-placeholder {
    margin-top: 60px;
}

/********** END OF ui-view **********/
