.courseTitle h3 {
  font-weight: bold;
  margin: 20px 0;
}

.coursera {
  background-color: var(--color-coursera);
  border-radius: 18px;
  padding: 10px 0;
  box-shadow: inset 0 0 50px #333, 0 0 10px #000;
}
.coursera > h3 {
  color: var(--color-controllers);
  text-transform: capitalize;
  text-shadow: -2px -2px 5px #7ac, 2px 2px 5px #333, 0 0 10px #fff, 0 0 15px #000;
}

#linkButtons {
  position: relative;
  border: solid 1px #888;
  border-top: none;
  border-radius: 12px;
  padding: 5px 5px 10px 5px;
  box-shadow: inset -3px -3px 10px #ddd, 5px 5px 5px #222;
  background: var(--color-main);
}
a.linkButton, span.spanButton {
  position: relative;
  display: inline-block;
  margin: 5px;
  border: solid 3px #059;
  border-radius: 12px;
  padding: 3px 10px;
  background-color: #acd;
  color: #059;
  font-weight: bold;
  text-shadow: 0 0 10px #fff;
  cursor: pointer;
}
.linkButton:hover {
  background-color: #27b;
  color: #fff;
  text-shadow: 0 0 5px #000;
  /*box-shadow: none|h-shadow v-shadow blur spread color |inset|initial|inherit;*/
  box-shadow: 5px 5px 16px 0 #666;
}
.linkButton a:hover {
  color: inherit;
}
