body {
  background-color: #789;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  color: blue;
  /*text-shadow: h-shadow v-shadow blur-radius color | none | initial | inherit;*/
  text-shadow: 0 0 10px #fff;
}
a:link, a:visited {
  text-decoration: none;
}
a:hover {
  color: white;
  text-shadow: 0 0 10px #777;
  font-weight: bold;
}
.linkButton {
  border: 3px solid #059;
  color: #2244aa;
  border-radius: 12px;
  padding: 5px 15px;
  display: inline-block;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  margin: 5px 5px 0 5px;
}
.linkButton:hover {
  border: 3px solid #059;
  background-color: #27b;
  color: white;
  text-shadow: 0 0 5px #000;
  /*box-shadow: none|h-shadow v-shadow blur spread color |inset|initial|inherit;*/
  box-shadow: 5px 10px 16px 0 #666;
}

ol {
  margin-left: -15px;
}
li {
  font-size: 16px;
  text-align: left;
}

h1 {
  color: white;
  text-shadow: 2px 2px 10px #333;
}

h3 {
  font-weight: bold;
  text-shadow: 1px 1px 5px #fff;
  display: inline-block;
  border: solid 1px;
  border-style: groove;
  border-radius: 12px;
  padding: 3px 15px;
  box-shadow: 4px 8px 30px 0 rgba(0,0,0,0.24), 4px 8px 30px 0 rgba(0,0,0,0.19);

}

.input {
  width: 80px;
  font-size: 14px;
  border-radius: 6px;
  background-color: #ddb;
  color: black;
}
::-webkit-input-placeholder { /* Chrome */
  color: #77d;
}
:-ms-input-placeholder { /* IE 10+ */
  color: red;
}
::-moz-placeholder { /* Firefox 19+ */
  color: red;
  opacity: 1;
}
:-moz-placeholder { /* Firefox 4 - 18 */
  color: red;
  opacity: 1;
}

.addItemName {
  width: 120px;
}
.addItemQtty {
  width: 30px;
}

.line {
  margin: 5px;
}

.coursera {
  background-color: #59a;
  border-radius: 18px;
  padding: 0 5px 20px 5px;
  text-align: center;
  box-shadow: 0 0 50px 5px #59a,inset 0 0 30px 0 #789;
}
.coursera > h3 {
  color: #238;
}

.menu {
  background-color: #d85;
  border-radius: 18px;
  padding: 0 5px 20px 5px;
  text-align: center;
  box-shadow: 0 0 50px 5px #999,inset 0 0 30px 0 #789;
}
.menu > h3 {
  font-size: 18px;
  color: #444;
}

.controllers {
  margin: 30px 0 0 0;
  background-color: #e76;
  padding: 0 10px 5px 10px;
  display: inline-block;
  border: solid 1px;
  border-style: outset;
  border-radius: 12px;
  box-shadow: 10px 10px 30px 0 #555;
}
.controllers > h3 {
  color: #721;
}

.controller {
  margin: 10px 5px;
  background-color: #e98;
  padding: 0 10px 5px 10px;
  border: solid 1px;
  border-style: inset;
  border-radius: 12px;
  display: inline-block;
  float: left;
  box-shadow: inset 4px 4px 4px 0 rgba(0,0,0,0.24)
}
#list1, #list2 {
  float: left;
}
#list2 {
  margin-left: 20px;
}
.warning {
  font-style: italic;
}
.deepWarning {
  background-color: #411;
  border-radius: 8px;
}
.shoppingList {
  height: 320px;
  margin: none;
  position: relative;
  border-radius: 8px;
  padding: 2px;
  box-shadow: 2px 2px 12px 0 rgba(0,0,0,0.24)
}
.shoppingListHeader {
  padding: 5px;
}
.shoppingListItems {
  overflow-y: auto;
  margin: 5px 5px 0 5px;
  padding: 5px 5px 0 5px;
  border-radius: 8px;
  box-shadow: 2px 2px 30px 0 rgba(0,0,0,0.24)
}
.listOrder {
  counter-reset: i 0;
}
.listOrder > li:before {
  content: counter(i) ". ";
  counter-increment: i;
  margin-left: -18px;
  padding-right: 3px;
  color: #d86;
  font-size: 14px;
  font-weight: bold;
}

button {
  margin: 1px;
  border-radius: 8px;
}
button:hover {
  color: white;
}
button:focus {
  outline: 0;
}
.changeButton {
  background-color: inherit;
  border: 2px solid #AF504C;
  display: block;
}
.changeButton:hover {
  background-color: #AF504C;
}

.addItem {
  background-color: inherit;
  border-radius: 6px;
  padding: 2px 7px;
  font-size: 14px;
  color: darkgreen;
}

.removeItem {
  color: darkred;
  background: inherit;
  border: solid 0px;
  border-style: outset;
  border-radius: 4px;
  padding: 1px 3px;
  margin: 2px 3px 0 0;
  box-shadow: 0 0 8px 0 #b66;
  cursor: default;
}
.removeItem:hover {
  background-color: #AF504C;
  box-shadow: 0 0 10px #ffb;
}

.qtty {
  width: 25px;
  font-size: 14px;
  background-color: #fcb;
  padding: 1px 3px;
  border: 1px;
  border-style: inset;
  border-radius: 2px;
}
.qtty:hover, .qtty:focus {
  /*border: solid 1px;*/
  background-color: #fcc;
  outline: none;
  box-shadow: inset 0 2px 4px 0 rgba(0,0,0,0.25), inset 0 2px 4px 0 rgba(0,0,0,0.20);
}

.itemName {
  display: inline-block;
  width: 100px;
  font-size: 14px;
  background-color: #fba;
  padding: 2px 5px;
  border-radius: 4px;
}

.error {
  background-color: #f99;
  padding: 5px 0 2px 0;
  box-shadow: inset 2px 2px 8px 1px rgba(0,0,0,0.25), inset 2px 2px 8px 1px rgba(0,0,0,0.20);
  text-shadow: 0 0 4px #fff, 0 0 4px #fff;
  border-radius: 8px;
  color: red;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  display: none;
  position: absolute;
  bottom: 0px;
  width: 98%;
}
