:root {
  --color-main: #7ac;
  --color-coursera: #6d9dbd;
  --color-menu: #d85;
  --color-controllers: #adf;
  --color-controller: #7ac;
  --color-error-back: #f99;
  --color-error-color: red;
}
body {
  background-color: var(--color-main);
  text-align: center;
  font-family: "Comic Sans", Helvetica, sans-serif;
  font-size: 16px;
}
#main {
  position: relative;
  height: 675px;
  padding: 0 20px;
  overflow-y: auto;
  /*background-color: #fff;*/
}
#main-center {
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
}
h1 {
  color: white;
  font-size: 1em;
  text-shadow: 2px 2px 10px #222;
  margin: 0;
  padding: 0;
}
h2 {
  text-shadow: 0 0 10px #fff;
  display: inline-block;
}
h3 {
  display: relative;
  margin: 0 10px 10px 10px;
  line-height: 25px;
}
ul, ol {
  list-style: none;
  list-style-type: none;
  padding: 0;
  margin: 0;
}
ul > li {
  display: inline-block;
}
ol > li {
  text-align: left;
}
a:link, a:visited {
  text-decoration: inherit;
  color: inherit;
  cursor: auto;
}
a.nostyle:link, a.nostyle:visited {
  text-decoration: inherit;
  color: inherit;
  cursor: auto;
}
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Chrome/Safari/Opera */
     -khtml-user-select: none; /* Konqueror */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  not supported by any browser */
}

.initial-loading {
  margin-top: 60px;
}

input {
  outline: 0;
  max-width: 200px;
  border: none;
  border-radius: 4px;
  margin: 0 5px 5px 0;
  padding: 2px 4px;
}
::-webkit-input-placeholder { /* Chrome */
  color: #57a;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #57a;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #57a;
  opacity: 1;
}
:-moz-placeholder { /* Firefox 4 - 18 */
  color: #57a;
  opacity: 1;
}

/***** Buttons *****/
button {
  margin: 1px;
  border-radius: 8px;
}
button:hover {
  color: white;
}
button:focus {
  outline: 0;
}
.submit {
  margin: 10px auto 45px;
  padding: 2px 10px;
  border: none;
  box-shadow: inset 1px 1px 5px #070, 1px 1px 5px #afa;
}
.submit:hover {
  cursor: pointer;
  background-color: #5b5;
  color: #fff;
  /*box-shadow: inset 0 0 20px #fff, 5px 5px 5px #58a;*/
  box-shadow: inset -1px -1px 5px #000, inset 0 0 10px #0f0, 0 0 5px #fff, 0 0 20px #afa;
}
.submit.disabled,
.submit[disabled] {
  cursor: not-allowed;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
          box-shadow: none;
  opacity: .65;
}
