/********** HEADER **********/
#header-nav {
  background-color: #368;
  /*padding: 0;*/
  box-shadow: inset 0 -5px 30px #134, 0 5px 20px #fff;
}
.navbar-header {
  position: relative;
}
#logo-img {
  cursor: pointer;
  background: url('../img/logo.jpg') #7ac no-repeat center;
  width: 54px;
  height: 54px;
  margin: 5px 20px 5px 0;
  padding: 2px;
  box-shadow: 1px 1px 5px #000;
}
#headTitle {
}
.navbar-brand {
  /*background-color: #000;*/
  display: inline-block;
  position: relative;
  top: 8px;
  padding: 5px;
  text-align: left;
  height: inherit;
  white-space: nowrap;
}
.navbar-brand h1 { /* name */
  cursor: pointer;
  font-family: 'Lora', serif;
  color: #adf;
  font-size: 1.3em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin: 0;
  line-height: .8;
  /*background-color: #aaf;*/
}
.navbar-brand span { /* certification */
  cursor: pointer;
  color: #035;
  text-transform: uppercase;
  font-size: .7em;
  font-weight: bold;
  /*margin-top: 5px;*/
  text-shadow: 1px 1px 1px #9ce;
  vertical-align: middle;
  /*background: #fff;*/
}
#collapsable-nav {
  padding: 0;
}
#nav-list {
  border-radius: 8px;
  margin: 0;
  padding: 0;
  text-shadow: 1px 1px 1px #000;
}
#nav-list a {
  color: #adf;
  text-align: center;
  border-radius: 8px;
  text-shadow: 1px 1px 1px #000;
  padding: 12px;
}
#nav-list .active a {
  color: #fff;
}
#nav-list a:hover {
  background: #146;
  color: #cef;
  border-radius: 8px;
}
#nav-list a:active {
  background-color: #000;
}

#nav-list a span {
  font-size: 1em;
}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: solid 1px #adf;
}
.navbar-header button.navbar-toggle {
  /*clear: both;*/
  /*margin-top: -45px;*/
}
.navbar-header button.navbar-toggle:hover,
.navbar-header button.navbar-toggle:active,
.navbar-header button.navbar-toggle:focus {
  background: #257;
}
.navbar .nav > .active > a,
.navbar .nav > .active > a:hover,
.navbar .nav > .active > a:focus {
  background: #035;
  color: #fff;
}
/********** END OF HEADER **********/

/********** Extra small devices only **********/
@media (max-width: 767px) {
  /* Header */
  .navbar-brand {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translate(0, -50%);
  }
  .headTitle {
    background-color: #000;
  }
  .navbar-brand h1 { /* Name */
    font-size: 6vw; /* 1vw = 1% of viewport width */
  }
  .navbar-brand span { /* status, certification, etc. */
    display: none;
  }

  #nav-list a {
    color: #adf;
    text-align: center;
    border-radius: 0;
  }
  #nav-list a:hover {
    border-radius: 0;
  }
  .navbar .nav > .active > a,
  .navbar .nav > .active > a:hover,
  .navbar .nav > .active > a:focus {
      border-radius: 0;
  }

  #collapsable-nav a { /* Collapsed nav menu text */
    font-size: 1.2em;
    display: block;
  }
  #collapsable-nav a span { /* Collapsed nav menu glyph */
    font-size: 1em;
    margin-right: 5px;
  }
  /***** END of Extra small devices only *****/
