
.addItemName {
  width: 120px;
}
.addItemQtty {
  width: 30px;
}

#list {
  background-color: #7ac;
}

#list1, #list2 {
  display: inline-block;
  margin: 0 auto;
}
#list1 {
  background-color: #69b;
}
#list2 {
  margin-left: 20px;
}

.addItem {
  background-color: inherit;
  border-radius: 6px;
  padding: 2px 7px;
  font-size: 14px;
  color: darkgreen;
}

.removeItem {
  color: darkred;
  background: inherit;
  border: solid 0px;
  border-style: outset;
  border-radius: 4px;
  height: 18px;
  line-height: 18px;
  vertical-align: middle;
  padding: 0 3px;
  margin: 2px 0 2px 2px;
  box-shadow: 0 0 8px 0 #b66;
  cursor: default;
}
.removeItem:hover {
  background-color: #AF504C;
  box-shadow: 0 0 10px #ffb;
}
#listItem {
  width: 260px;
  min-height: 30px;
  background: #9bc;
  margin-bottom: 2px;
  border-radius: 4px;
  padding: 2px;
}
.listItemQtty {
  width: 25px;
  font-size: 14px;
  background-color: #edb;
  padding: 1px 3px;
  border: 1px;
  border-style: inset;
  border-radius: 2px;
}
.listItemQtty:hover, .listItemQtty:focus {
  /*border: solid 1px;*/
  background-color: #eec;
  outline: none;
  box-shadow: inset 0 2px 4px 0 rgba(0,0,0,0.25), inset 0 2px 4px 0 rgba(0,0,0,0.20);
}

.list {
  height: 320px;
  margin: none;
  position: relative;
  border-radius: 8px;
  padding: 2px;
  box-shadow: 2px 2px 12px 0 rgba(0,0,0,0.24)
}

.listHeader {
  padding: 5px;
}

.listItems {
  overflow-y: auto;
  max-width: 350px;
  margin: 5px 5px 0 5px;
  padding: 5px;
  border-radius: 8px;
  box-shadow: 2px 2px 30px 0 rgba(0,0,0,0.24)
}

.listItemName {
  display: inline-block;
  width: 200px;
  color: #000;
  font-size: 14px;
  background-color: #ec9;
  padding: 1px 5px;
  border-width: 0;
  border-radius: 2px;
  border-style: inset;
}
.listItemName:hover {
  background-color: #eda;
  color: #000;
  border-style: outset;
  box-shadow: 0 0 10px #740;
}
.listItemName[title]:hover:after, .listItemName[data-title]:hover:after {
  content: attr(data-title);
  position: absolute;
  margin-left: 15px;
  margin-top: -15px;
  border-radius: 8px;
  border-style: outset;
  border-width: 1px;
  text-shadow: 1px 1px 1px #fff;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  padding: 3px 5px 1px 5px;
  width: fit-content;
  font-size: 0.9em;
  background-color: #fda;
  color: #000;
  vertical-align: middle;
  opacity: 0.75;
}


.listMessage {
  font-style: italic;
}
.deepWarning {
  background-color: #411;
  border-radius: 8px;
}
.warning {
  background-color: #eaa;
  padding: 5px 0 2px 0;
  box-shadow: inset 2px 2px 8px 2px rgba(0,0,0,0.4);
  text-shadow: 0 0 4px #fff, 0 0 4px #fff;
  border-radius: 8px;
  color: red;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  display: none;
  position: absolute;
  bottom: 0px;
  width: 98%;
}

.listOrder {
  counter-reset: i 0;
}
.listOrder > li:before {
  content: counter(i) ". ";
  counter-increment: i;
  margin-left: -18px;
  padding-right: 3px;
  color: #d86;
  font-size: 14px;
  font-weight: bold;
}
