<!DOCTYPE html>
<html ng-app="FABRAGA">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../css/fabraga.css">
    <title>AngularJS by Fabricio Braga</title>
  </head>
  <body>
    <div class="container" style="height:80px;">
      <h1>AngularJS by Fabricio Braga</h1>
    </div>

    <div id="menu" class="container menu">
      <h3>Menu</h3>
      <div ng-controller="MenuCategsController as menu"
          style="height:100px; overflow-y:auto;">
        <ul>
          <li ng-repeat="categ in menu.categs">
            (<a href="" ng-click="menu.logMenuItems(categ.short_name);">
              {{ categ.short_name }}
            </a>)
            {{ categ.name }}
          </li>
        </ul>
      </div>
    </div>

    <!-- Beginning of Controllers -->
    <div class="controllers">
      <h3>Learning / Practicing...</h3>
      <div>
        Watchers: {{ $$watchersCount }}
      </div>

      <!-- ShoppingList Controllers -->
      <!-- Filters -->
      <div class="controller" ng-controller="filterController">
        <h4>Filters</h4>
        <div class="line">
          <input type="text"
                class="input"
                ng-model="product"
                placeholder="Product"> <br>
          {{product}}<br>
          <span>Price: {{ showPrice(); }}</span><br>
          <div style="display: inline-block;">
            <button class="changeButton" ng-click="capitalize()">Uppercase</button>
            <button class="changeButton" ng-click="lowercase()">Lowercase</button>
            <button class="changeButton" ng-click="altercase()">Altercase</button>
          </div>
        </div>
      </div>
      <!-- End of Filters -->

      <!-- Counting with Digest, Apply and $timeout -->
      <div class="controller" ng-controller="CounterController">
        <h4>Digest Cycle</h4>
        <div>
          <div>
            <button class="changeButton" ng-click="upCount()">INCREMENT...</button>
          </div>
          <div>
            <button class="changeButton" ng-click="upDigest()">with setTimeout and <b>$digest</b></button>
          </div>
          <div>
            <button class="changeButton" ng-click="upApply()">with setTimeout and <b>$apply</b></button>
          </div>
          <div>
            <button class="changeButton" ng-click="upTimeout()">with Angular's <b>$timeout</b></button>
          </div>
        </div>
        <div>
          Count: {{ counter }}
        </div>
      </div>
      <!-- End of Counting with Digest, Apply, $timeout -->

      <!-- Bindings -->
      <div class="controller" ng-controller="BindingController">
        <h4>Bindings<h4>
        <h4>(2-way/1-way/1-time)</h4>
        <div>
          <b>2-way:</b>
          <input type="text" class="input"
                ng-model="firstName" placeholder="First Name">
          <input type="text" class="input"
                ng-model="lastname" placeholder="Last Name">
        </div>
        <div>
          <b>1-way:</b>
          <span>Full Name: {{ getFullName() }}</span>
        </div>
        <div>
          <b>1-time:</b>
          <button class="changeButton"
                  ng-click="setFullName()"
                  style="display: inline-block">Set Full Name</button>
          : {{ :: fullName }} <br>
        </div>
      </div>
      <!-- End of Bindings -->

    </div>
    <!-- End of All Controllers -->

    <script src="../js/jquery-3.1.1.min.js"></script>
    <script src="../js/angular.min.js"></script>
    <script src="app.js"></script>
  </body>
</html>
