<!DOCTYPE html>
<html ng-app="myApp">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/fabraga.css">
    <title>AngularJS Studying by Fabricio Braga</title>
  </head>
  <body>
    <div class="container" style="height:120px;">
      <h1>AngularJS Studying by Fabricio Braga</h1>
    </div>

    <div id="main" class="container coursera">
      <div><h2>Coursera Assignments</h2></div>
      <a href="https://fabraga.github.io/AngularJS/coursera-ychaikin/week1/"
         alt="Lunch Checker" class="linkButton">Lunch Checker
      </a>
    </div>

    <!-- Beginning of Controllers -->
    <div class="controllers">

      <div><h2>Learning/Practicing...</h2></div>
      <div>
        Watchers: {{ $$watchersCount }}
      </div>

      <!-- ShoppingList Controllers -->
      <div class="controller">
        <h3>Shopping List<h3>
        <!-- Filter Items in the Shopping List -->
        <!-- <input class="input" type="text" ng-model="showList.search"
               placeholder="Filter"> -->

        <!-- ShoppingList Controller -->
        <div ng-controller="ShoppingListController as list">
          <input class="input" type="text" ng-model="list.itemName"
                placeholder="item name">
          <input class="input" type="text" ng-model="list.itemQtty"
                placeholder="qtty" style="width: 50px;">
          <button class="addItem" ng-click="list.add();">Add</button>

          <!-- Shopping List Items -->
          <div class="shoppingItems">
            <ol>
              <li ng-repeat="item in list.items">
                <!-- <li ng-repeat="item in showList.items | filter : showList.search"> -->
                <!-- {{getIndex($index+1)}}. -->
                <button class="removeItem" ng-click="list.removeItem($index);">x</button>
                <input class="qtty" ng-model="item.qtty">
                <span class="itemName">{{ item.name }}</span>
              </li>
            </ol>
          </div>
          <div class="error" ng-hide="!list.errorMessage">{{ list.errorMessage }}</div>
          <!-- <div class="error" ng-show="list.errorMessage">{{ list.errorMessage }}</div>
          <div class="error" ng-if="list.errorMessage">{{ list.errorMessage }}</div> -->
        </div>
      </div>
      <!-- End of Shopping List Controllers -->

      <!-- Filters -->
      <div class="controller" ng-controller="filterController">
        <h3>Filters</h3>
        <div class="line">
          <input type="text"
                class="input"
                ng-model="product"
                placeholder="Product"> <br>
          {{product}}<br>
          <span>Price: {{ showPrice(); }}</span><br>
          <div style="display: inline-block;">
            <button class="changeButton" ng-click="capitalize()">Uppercase</button>
            <button class="changeButton" ng-click="lowercase()">Lowercase</button>
            <button class="changeButton" ng-click="altercase()">Altercase</button>
          </div>
        </div>
      </div>
      <!-- End of Filters -->

      <!-- Counting with Digest, Apply and $timeout -->
      <div class="controller" ng-controller="CounterController">
        <h3>Digest Cycle</h3>
        <div>
          <div>
            <button class="changeButton" ng-click="upCount()">INCREMENT...</button>
          </div>
          <div>
            <button class="changeButton" ng-click="upDigest()">with setTimeout and <b>$digest</b></button>
          </div>
          <div>
            <button class="changeButton" ng-click="upApply()">with setTimeout and <b>$apply</b></button>
          </div>
          <div>
            <button class="changeButton" ng-click="upTimeout()">with Angular's <b>$timeout</b></button>
          </div>
        </div>
        <div>
          Count: {{ counter }}
        </div>
      </div>
      <!-- End of Counting with Digest, Apply, $timeout -->

      <!-- Bindings -->
      <div class="controller" ng-controller="BindingController">
        <h3>Bindings<h3>
        <h4>(2-way/1-way/1-time)</h4>
        <div>
          <b>2-way:</b>
          <input type="text" class="input"
                ng-model="firstName" placeholder="First Name">
          <input type="text" class="input"
                ng-model="lastname" placeholder="Last Name">
        </div>
        <div>
          <b>1-way:</b>
          <span>Full Name: {{ getFullName() }}</span>
        </div>
        <div>
          <b>1-time:</b>
          <button class="changeButton"
                  ng-click="setFullName()"
                  style="display: inline-block">Set Full Name</button>
          : {{ :: fullName }} <br>
        </div>
      </div>
      <!-- End of Bindings -->

    </div>
    <!-- End of All Controllers -->

    <script src="js/angular.min.js"></script>
    <script src="js/app.js"></script>
  </body>
</html>
