body {
  font-size: 16px;
  text-align: center;
  background-color: #cdf;
  padding: 20px;
  position: relative;
}

.menu {
  position: relative;
  display: block;
  background-color: #9bd;
  font-size: 1.2em;
  border-style: outset;
  border-radius: 4px;
  padding: 20px 20px;
  box-shadow: 0 0 50px #999;
}

.main {
  background-color: #7ac;
  font-size: .9em;
  margin: 20px 0 10px 0;
  border-style: inset;
  border-radius: 4px;
  padding: 20px;
  box-shadow: inset 0 0 20px #888;
}
.section-title {
  vertical-align: middle;
  margin: 20px;
  border-radius: 8px;
  border-width: 0;
  padding: 10px 20px;
  box-shadow: inset 0 0 10px #479, 0 0 20px #9ce;
  cursor: default;
}

#categories {
  display: block;
  margin: 20px 0 0 0;
  padding: 20px;
  box-shadow: inset 0 0 50px #333, 0 0 10px #000;
}

.category {
  display: inline-block;
  margin: 3px;
  box-shadow: 5px 5px 10px #555;
}
.category:hover {
  color: #222;
  cursor: pointer;
}

#items {
  display: block;
  margin: 20px 0 0 0;
  padding: 20px;
  box-shadow: inset 0 0 50px #333, 0 0 10px #000;
}
.item {
  display: inline-block;
  width: 100%;
  height: 100px;
  margin: 3px;
  border: solid 1px #000;
  border-radius: 8px;
  padding: 5px 10px;
  background-color: #ddd;
  color: #237;
}

a {
  vertical-align: middle;
  color: #024;
}
a:hover, a:visited {
  text-decoration: none;
}

ui-view {

}

*[ui-sref] {
  background-color: #ec8;
  border: solid 1px #000;
  border-radius: 4px;
  padding: 5px 10px;
}
*[ui-sref]:hover {
  background-color: #feb;
  box-shadow: 2px 2px 8px #333;
}

h1 {
  margin: 30px auto;
}

.loading-icon {
  position: absolute;
  top: 50%;
  left: 50%;
}

.activeTab {
  font-weight: bold;
}

.reference {
  font-size: 1.6em;
  font-weight: bold;
  vertical-align: middle;
}

ul {
  list-style-type: none;
}

*[title]:hover:after, *[data-title]:hover:after {
  content: attr(data-title);
  position: absolute;
  margin-left: 20px;
  margin-top: -40px;
  border-radius: 8px;
  border-style: outset;
  border-width: 1px;
  text-shadow: 1px 1px 1px #fff;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  padding: 3px 5px 1px 5px;
  width: fit-content;
  font-size: 0.7em;
  background-color: #fda;
  color: #000;
  vertical-align: middle;
  opacity: 0.9;
}
