/* HOME PAGE */
.container .jumbotron {
  box-shadow: 0 0 50px #3F0C1F;
  border: 2px solid #3F0C1F;
}

#menu-tile, #specials-tile, #map-tile {
  height: 250px;
  width: 100%;
  margin-bottom: 15px;
  position: relative;
  border: 2px solid #3F0C1F;
  overflow: hidden;
}
#menu-tile:hover, #specials-tile:hover, #map-tile:hover {
  box-shadow: 0 1px 5px 1px #cccccc;
}
#menu-tile {
  background: url('../images/menu-tile.jpg') no-repeat;
  background-position: center;
}
#specials-tile {
  background: url('../images/specials-tile.jpg') no-repeat;
  background-position: center;
}
#menu-tile span, #specials-tile span, #map-tile span {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  text-align: center;
  font-size: 1.6em;
  text-transform: uppercase;
  background-color: #000;
  color: #fff;
  opacity: .8;
}
/* END HOME PAGE */

/* MENU CATEGORIES PAGE */
.category-tile {
  position: relative;
  border: 2px solid #3F0C1F;
  overflow: hidden;
  width: 200px;
  height: 200px;
  margin: 0 auto 15px;
}
.category-tile span {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  text-align: center;
  font-size: 1.2em;
  text-transform: uppercase;
  background-color: #000;
  color: #fff;
  opacity: .8;
}
.category-tile:hover {
  box-shadow: 0 1px 5px 1px #cccccc;
}

#menu-categories-title + div {
  margin-bottom: 50px;
}
/* END MENU CATEGORIES PAGE */

/* SINGLE CATEGORY PAGE */
.menu-item-tile {
  margin-bottom: 25px;
}
.menu-item-tile hr {
  width: 80%;
}
.menu-item-tile .menu-item-price {
  font-size: 1.1em;
  text-align: right;
  margin-top: -15px;
  margin-right: -15px;
  text-shadow: 2px 2px 2px #000;
}
.menu-item-tile .menu-item-price span {
  font-size: .6em;
}
.menu-item-photo {
  position: relative;
  border: 2px solid #3F0C1F;
  overflow: hidden;
  padding: 0;
  margin-right: -15px;
  margin-left: auto;
  margin-bottom: 20px;
  max-width: 250px;
}
.menu-item-photo div {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 80px;
  background-color: #557c3e;
  text-align: center;
}
.menu-item-description {
  text-shadow: 2px 2px 2px #000;
  text-align: left;
  padding-right: 30px;
}
h3.menu-item-title {
  text-shadow: 2px 2px 5px #000;
  margin: 0 0 10px;
}
.menu-item-details {
  font-size: .9em;
  font-style: italic;
}
/* END SINGLE CATEGORY PAGE */

/* SIGN-UP PAGE */
#sign-up-title + div {
  margin-bottom: 50px;
}
.fav-button {
  position: absolute;
  top: 0px;
  left: 17;
  background-color: #d6a309;
  color: #000;
  text-align: center;
  vertical-align: middle;
  line-height: 150px;
  font-size: 2em;
  font-weight: bold;
  text-shadow: 1px 1px #fff;
  width: 92%;
  height: 100%;
  border: none;
  border-radius: 8px;
  padding: 0 20px;
  opacity: 0.4;
}
.fav-button:hover {
  background-color: #557c3e;
  color: #fff;
  text-shadow: 1px 1px 5px #000;
  opacity: 0.85;
  cursor: pointer;
}
#signForm {
  margin-bottom: 60px;
  text-align: center;
}
.inputField {
  margin: 5px;
  min-height: 60px;
  display: inline-block;
}
#signForm input {
  display: block;
  float: left;
  background-color: #edc;
  color: #000;
  padding: 2px 4px;
}
#signForm input:hover {
  border: solid 2px #379;
}
.ng-touched.ng-valid {
  border: solid 2px green;
  color: #0a0;
}

.ng-touched.ng-invalid {
  border: solid 2px red;
  color: #a00;
}
#signForm span {
  display: block;
  float: left;
  font-size: 0.9em;
  color: #f77;
  text-shadow: 1px 1px 5px #000;
  margin: 3px 0;
}
#favesFound {
  background-color: #81324f;
  border-radius: 12px;
  padding: 10px;
  box-shadow: inset 0 0 50px #31020f, inset 0 0 10px #222;
  max-width: 530px;
  max-height: 400px;
  margin: 0 auto;
  overflow-y: auto;
}
.submit {
  margin: 20px 0 0 5px;
  vertical-align: middle;
  height: 30px;
  padding: 2px 15px;
  border: none;
}
.submit:hover {
  color: #fff;
  box-shadow: inset 0 0 20px #fff;
  cursor: pointer;
}
.regSubmit {
  background-color: #557c3e;
}
.regSubmit:hover {
  /*background-color: #69b;*/
}

::-webkit-input-placeholder { /* Chrome */
  color: #557c3e;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #557c3e;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #557c3e;
  opacity: 1;
}
:-moz-placeholder { /* Firefox 4 - 18 */
  color: #557c3e;
  opacity: 1;
}
#savedInfo {
  font-size: 2em;
  color: #557c3e;
}
/* END OF SIGN-UP PAGE */

/* MY INFO PAGE */
#my-info-title {
  margin-bottom: 50px;
}
#userForm {
  margin-bottom: 60px;
  text-align: center;
}
.inputField {
  margin: 5px;
  height: 60px;
  display: inline-block;
}
#userForm span {
  display: block;
  float: left;
  font-size: 0.9em;
  /*font-style: italic;*/
  color: #d1829f;
  text-shadow: 1px 1px 1px #000;
}
#userForm input {
  display: block;
  float: left;
  background-color: #81324f;
  color: #fff;
  padding: 4px 8px;
  border: none;
  border-radius: 8px;
  text-shadow: 2px 2px 1px #000;
  box-shadow: inset 0 0 20px #31020f, inset 0 0 10px #222;
}
#userSpan {
  font-size: 1em;
  color: #c1728f;
  text-shadow: 1px 1px 1px #000;
  margin-top: -20px;
  margin-bottom: -20px;
}
#faveItem {
  background-color: #81324f;
  border-radius: 12px;
  padding: 10px;
  box-shadow: inset 0 0 50px #31020f, inset 0 0 10px #222;
  max-width: 500px;
  margin: 0 auto;
}
/* END OF MY INFO PAGE */

/********** Large devices only **********/
@media (min-width: 1200px) {
  .container .jumbotron {
    background: url('../images/jumbotron_1200.jpg') no-repeat;
    height: 675px;
  }
}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
  /* Home Page */
  .container .jumbotron {
    background: url('../images/jumbotron_992.jpg') no-repeat;
    height: 558px;
  }
  /* End Home Page */
}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  /* Home Page */
  .container .jumbotron {
    background: url('../images/jumbotron_768.jpg') no-repeat;
    height: 432px;
  }
  /* End Home Page */
}

/********** Extra small devices only **********/
@media (max-width: 767px) {
  /* Home Page */
  .container .jumbotron {
    margin-top: 30px;
    padding: 0;
  }
  #menu-tile, #specials-tile {
    width: 360px;
    margin: 0 auto 15px;
  }

  .menu-item-photo {
    margin-right: auto;
  }
  .menu-item-tile .menu-item-price {
    text-align: center;
  }
  .menu-item-description {
    text-shadow: 2px 2px 5px #000;
    text-align: center;;
  }
}


/********** Super extra small devices Only :-) (e.g., iPhone 4) **********/
@media (max-width: 479px) {
  /* Home page */
  #menu-tile, #specials-tile {
    width: 280px;
    margin: 0 auto 15px;
  }

  .col-xxs-12 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    float: left;
    width: 100%;
  }
}
