<div id="result">
  <div id="items">
    <ul>
      <li ng-repeat="item in found">
        <button class="remove" ng-click="onRemove({index: $index});">
          <span class="glyphicon glyphicon-remove red-x">
          </span> Don't want this one! <span class="glyphicon glyphicon-hand-right pointing-right"></span>
        </button>
        <span class="item">
          <span class="itemName">{{ item.name }}</span>
          <span> ({{ item.short_name }}): </span>
          <span class="itemDescription">{{ item.description }}</span>
        </span>
      </li>
    </ul>
  </div>
  <div class="message" ng-transclude></div>
</div>
