<!-- Shopping List Header -->
<div class="shoppingListHeader">
  <input class="input addItemName" type="text" ng-model="$ctrl.itemName" placeholder="item name">
  <input class="input addItemQtty" type="text" ng-model="$ctrl.itemQtty" placeholder="qtty">
  <button class="addItem" ng-click="$ctrl.add();">Add</button>
</div>

<!-- SHOPPING LIST ITEMS -->
<div class="shoppingList">
  <h5><b>{{ $ctrl.name }}</b> {{ $ctrl.total }}</h5>
  <div class="shoppingListItems">
    <ol class="listOrder">
      <li ng-repeat="item in $ctrl.items">
        <!-- <li ng-repeat="item in showList.items | filter : showList.search"> -->
        <!-- {{getIndex($index+1)}}. -->
        <button class="removeItem" ng-click="$ctrl.remove($index);">x</button>
        <input class="qtty" ng-model="item.qtty">
        <a ui-sref="shoppingList.itemDetail({itemId: $index})">
          <span class="itemName" data-title="{{ item.desc }}">
            {{ item.name }}
          </span>
        </a>
      </li>
    </ol>
  </div>
  <!-- <div class="error" ng-transclude></div> -->
  <div class="error">
    COOKIES DETECTED!
  </div>
</div>

<ui-view></ui-view>

<!-- <div class="error" ng-if="list.cookiesInList()">COOKIES DETECTED!!!</div> -->
<!-- <div class="error" ng-if="list.cookiesInList()">{{ list.errorMessage }}</div> -->
