<!-- LIST OF CATEGORIES -->
<ul>
  <li class="category"
      ng-repeat="categ in $ctrl.categories.data"
      data-title="{{ categ.id }} - {{ categ.short_name }}"
      ui-sref="categories.items({categId: categ.short_name})">
    {{ categ.name }}
  </li>
</ul>

<ui-view></ui-view>

<!-- <div class="categoryList">
    <ul class="listOrder">
      <li ng-repeat="categ in $ctrl.categories">
        <a ui-sref="items({categId: $index})">
          <span class="categName" data-title="{{ categ.id }}"+" - "+"'{{ categ.short_name }}'">
            {{ categ.name }}
          </span>
        </a>
      </li>
    </ul>
  </div>
</div> -->
