<!-- LIST OF CATEGORIES -->
<ul>
  <li class="category"
      ng-repeat="categ in $ctrl.categories.data"
      ui-sref="items({category: categ.short_name})"
      data-title="{{ categ.id }} - {{ categ.short_name }}">
    {{ categ.name }}
  </li>
</ul>


<!-- <div class="categoryList">
    <ul class="listOrder">
      <li ng-repeat="categ in $ctrl.categories">
        <a ui-sref="items({categId: $index})">
          <span class="categName" data-title="{{ categ.id }}"+" - "+"'{{ categ.short_name }}'">
            {{ categ.name }}
          </span>
        </a>
      </li>
    </ul>
  </div>
</div> -->
