.emptyMessage {
  font-weight: bold;
  color: red;
  font-size: 1.2em;
}

ul {
  margin-left: -10px;
}

li {
  margin-bottom: 7px;
  font-size: 1.2em;
}

li > button {
  margin-left: 6px;
}

button > span {
  color: green;
}
